<div class="sidebar d-flex flex-column flex-shrink-0 pl-5 pt-4">
    <div class="center">
        <a href="/" class="link-dark text-decoration-none">
            <h4 style="font-weight: 900">Jessica Lee</h4>
        </a>
    </div>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link link-dark">
          About
        </a>
      </li>
      <li class="nav-item">
        <a href="/research" class="nav-link link-dark">
          Research
        </a>
      </li>
      <li class="nav-item">
        <a href="/gallery" class="nav-link link-dark">
          Photography
        </a>
      </li>
      <li class="nav-item">
        <a href="/blog" class="nav-link link-dark">
          Blog
        </a>
      </li>
      <li class="nav-item pt-4">
        <p style="color:#808080; font-size:0.5vw";><span>&#169;</span> 2022 Jessica Lee. All Rights Reserved.</p>
      </li>
    </ul>
  </div>