---
layout: default
---
<div class="row align-items-end">
<div class="col-md-8 name">
    <h4 id='subtitle'>About Me</h4>
    <h6>Ph.D. Student @ UC Berkeley</h6>
    <div class='icons'>
        <a href="mailto: jess.lee [att] berkeley [dott] edu"><img class="icon" src="/assets/icons/mail.png"></a>
        <a href="https://github.com/imjal"><img class="icon" src="/assets/icons/github.png"></a>
        <a href="assets/resume.pdf"><img class="icon" src="/assets/icons/cv.png"></a>
    </div>
</div>
<div class="col-md-4 name">
    <img id='propic' src="/assets/updated_propic.jpg">
</div>
<div style='text-align: justify;' class ='row mb-3 mx-auto'>
    I'm a first-year PhD student at UC Berkeley advised by Ren Ng and supported by the NSF GRFP. My research interests lie in the intersection 
    of human vision and computer vision, as well as understanding color. Prior to arriving at Berkeley, 
    I did my Bachelor's in Computer Science at Carnegie Mellon University, where I was advised by Deva Ramanan and mentored by Rohit Girdhar.
    Outside of research, I enjoy hiking, backpacking, photography, making latte art, and playing guitar!
</div>
</div>