<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149478947-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-149478947-1');
    </script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="row align-items-end">
        <div class="col-md-8 name">
                <h2>Jessica Lee</h2>
                <h4>Undergrad @ CMU</h4>
                <div class='icons'>
                    <a href="mailto: jl5 [att] cs [dott] cmu [dott] edu"><img class="icon" src="/assets/icons/mail.png"></img></a>
                    <a href="https://github.com/imjal"><img class="icon" src="/assets/icons/github.png"></img></a>
                    <a href="assets/resume.pdf"><img class="icon" src="/assets/icons/cv.png"></img></a>
                    <a href="/blog"><img class="icon" src="/assets/icons/blog.png"></a>
            </div>
        </div>
        <div class="col-md-4 name">
                <div>
                    <img src="/assets/propic.jpg" alt="drawing" width="auto"/>
                </div>
            </div>
        </div>

        <div class ='row mb-3 mx-auto'>
        <h3>About Me</h3></div>
        <div class ='row mb-3 mx-auto'>
            
            I'm a junior studying Computer Science at CMU. My research interests lie in meta-learning and generative modeling,
            and more broadly, generalization. At CMU, I'm working with Rohit Girdhar and Deva Ramanan on few-shot generative modeling
            for the pose-to-image generation task. Prior to that, I worked on determining fire risk for commercial properties in 
            Pittsburgh, where a team and I built a pipeline for the fire inspectors to better route their inspections.
            <!-- I've spent the summer of 2019 at Facebook as a software engineering intern on 
            Marketplace Integrity, building an ML framework to create more ecommerce specific models to extend the teams capabilities
            on detecting policy-violating items. My first years at CMU, I worked on civic machine learning for the City of Pittsburgh
            Fire Department, where we built a pipeline to predict which commercial properties have highest risk of catching on fire.
            -->
        </div>
        <div class ='row mb-3 mx-auto'>
            <h3>Publications</h3>
        </div>
        <div class ='row mb-3 mx-auto'>
                <div class="publication_elem">
                    <div class ='row'>
                        <div class="col-md-8">
                            <h5>MetaPix: Few-shot Video Retargeting</h5>
                            <b>Jessica Lee</b>, Deva Ramanan and Rohit Girdhar
                            <br>
                            MetaLearn Workshop, NeurIPS 2019 [<a href="">pdf</a>]
                            <br>
                            In Submission [<a href="https://imjal.github.io/MetaPix/">Project Page</a>][<a href="https://arxiv.org/abs/1910.04742">arXiv</a>]
                            </div>
                        <div class = "col-md-4">
                            <img src="/assets/metapix_ft.jpeg" alt="drawing" width="auto"/>
                        </div>
                    </div>
                </div>
            </div>

        <div class ='row mb-3 mx-auto'>
                <div class="publication_elem">
                    <div class ='row'>
                        <div class="col-md-8">
                            <h5>A Longitudinal Evaluation of a Deployed Predictive Model of Fire Risk</h5>
                            <b>Jessica Lee</b>, Yanwen Li and Michael Madaio
                            <br>
                            AI for Social Good Workshop, NeurIPS 2018 [<a href="https://aiforsocialgood.github.io/2018/pdfs/track1/100_aisg_neurips2018.pdf">pdf</a>]
                            </div>
                        <div class = "col-md-4">
                            <img src="/assets/evaluation.png" alt="drawing" width="auto"/>
                        </div>
                    </div>
                </div>
            </div>

        <div class ='row mb-3 mx-auto '>
            <div class="publication_elem">
                <div class ='row'>
                    <div class="col-md-8">
                        <h5>A Dynamic Pipeline for Spatio-Temporal Fire Risk Prediction</h5>
                        Bhavkaran, Qianyi Hu, Jeffrey Chen, Fangyan Chen, <b>Jessica Lee</b>, Nathan Kuo, Palak Narang, Jason Batts, Geoffrey Arnold and Michael Madaio
                        <br>
                        KDD 2018 [<a href="https://www.kdd.org/kdd2018/accepted-papers/view/a-dynamic-pipeline-for-spatio-temporal-fire-risk-prediction">pdf</a>]
                    </div>
                    <div class = "col-md-4">
                        <img src="/assets/fireguru.png" alt="drawing" width="auto"/>
                    </div>
                </div>
            </div>
        </div>
        <div class ='row mb-3 mx-auto'>
            <h3>Activities</h3>
        </div>
        <div class ='row mb-3 mx-auto'>
            <div class="publication_elem">
                <div class ='row'>
                    <div class="col-md-8">
                        <h5>Data Science Club</h5>
                        <p>I run the <a href="https://cmu-dsc.github.io/">Data Science Club</a> at CMU. 
                            We hold workshops, talks, and projects for any interested member of the CMU community, and hold bi-weekly
                            meetings to work on small socially-relevant data problems.
                    </div>
                    <div class="col-md-4">
                            <img src="/assets/dsc.jpeg" alt="drawing" width="auto"/>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </main>
  </body>