---
layout: default
---
<div class="row align-items-end">
<h4 class='mb-3' id='subtitle'>Publications</h4>

<div class ='row mb-3 mx-auto'>
    <div class="publication_elem">
        <div class ='row'>
            <div class="col-md-8">
                <h5>Theory of Human Tetrachromatic Color Experience and Printing</h5>
                <b>Jessica Lee</b>, Nicholas Jennings, Varun Srivastava, and Ren Ng
                <br>
                <i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2024)</i> [<a href="https://imjal.github.io/theory-of-tetrachromacy/">Project Page</a>]
                </div>
            <div class = "col-md-4">
                <img class="img-fluid" src="/assets/theory-of-tetrachromacy.png" alt="drawing" width="auto"/>
            </div>
        </div>
    </div>
</div>

<div class ='row mb-3 mx-auto'>
        <div class="publication_elem">
            <div class ='row'>
                <div class="col-md-8">
                    <h5>MetaPix: Few-Shot Video Retargeting</h5>
                    <b>Jessica Lee</b>, Deva Ramanan and Rohit Girdhar
                    <br>
                    <i> MetaLearning Workshop, NeurIPS 2019 (oral)</i> [<a href="http://metalearning.ml/2019/papers/metalearn2019-lee.pdf">pdf</a>]
                    <br>
                    <i> ICLR 2020</i> [<a href="https://imjal.github.io/MetaPix/">Project Page</a>][<a href="https://arxiv.org/abs/1910.04742">arXiv</a>]
                    </div>
                <div class = "col-md-4">
                    <img class="img-fluid" src="/assets/metapix_ft.jpeg" alt="drawing" width="auto"/>
                </div>
            </div>
        </div>
    </div>

<div class ='row mb-3 mx-auto'>
        <div class="publication_elem">
            <div class ='row'>
                <div class="col-md-8">
                    <h5>A Longitudinal Evaluation of a Deployed Predictive Model of Fire Risk</h5>
                    <b>Jessica Lee</b>, Yanwen Li and Michael Madaio
                    <br>
                    <i>AI for Social Good Workshop, NeurIPS 2018 </i>[<a href="https://aiforsocialgood.github.io/2018/pdfs/track1/100_aisg_neurips2018.pdf">pdf</a>]
                    </div>
                <div class = "col-md-4">
                    <img class="img-fluid" src="/assets/evaluation.png" alt="drawing" width="auto"/>
                </div>
            </div>
        </div>
    </div>

<div class ='row mb-3 mx-auto '>
    <div class="publication_elem">
        <div class ='row'>
            <div class="col-md-8">
                <h5>A Dynamic Pipeline for Spatio-Temporal Fire Risk Prediction</h5>
                Bhavkaran, Qianyi Hu, Jeffrey Chen, Fangyan Chen, <b>Jessica Lee</b>, Nathan Kuo, Palak Narang, Jason Batts, Geoffrey Arnold and Michael Madaio
                <br>
                KDD 2018 (oral) [<a href="https://www.kdd.org/kdd2018/accepted-papers/view/a-dynamic-pipeline-for-spatio-temporal-fire-risk-prediction">pdf</a>][<a href='https://github.com/CityofPittsburgh/fire_risk_analysis'>code</a>][<a href="http://videolectures.net/jessica_lee/">video</a>]
            </div>
            <div class = "col-md-4">
                <img class="img-fluid" src="/assets/fireguru.png" alt="drawing" width="auto"/>
            </div>
        </div>
    </div>
</div>
<h4 id='subtitle'>Activities</h4>
<div class ='row mb-3 mx-auto'>
    <div class="publication_elem">
        <div class ='row'>
            <div class="col-md-8">
                <h5>Data Science Club</h5>
                <p>I ran the <a href="https://cmu-dsc.github.io/">Data Science Club</a> at CMU. 
                    We hold workshops, talks, and projects for any interested member of the CMU community, and hold bi-weekly
                    meetings to work on small socially-relevant data problems.
            </div>
            <div class="col-md-4">
                    <img class="img-fluid" src="/assets/dsc.jpeg" alt="drawing" width="auto"/>
            </div>
        </div>
    </div>
</div>